@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Gemstones&display=swap");
:root {
  --main_color: #ff8800;
  --text-color: #cdc9c9;
}

/*====> Global Css  <======*/
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}






/*====> socil media  <======*/

.socilmediaSEC {
  box-shadow: 0 0 5px 0px gray;
  padding: 10px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
      width: 40%;
      h5 {
        font-size: 30px;
        font-weight: bold;
      }
      p {
        color: rgb(179, 179, 179);
        font-size: 18px;
      }
    }
    .icons {
      width: 60%;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li i {
          color: #e7e7e7;
          font-size: 40px;
        }
      }
    }
  }
}

.heroSection {
  margin-top: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .right {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .block {
      .crd {
        background: #222;
        color: #fff;
        margin-bottom: 1px;
        height: 100px;
        width: 100px;
        line-height: 6;
        text-align: center;
      }
      .orange {
        background-color: var(--main_color) !important;
      }
    }
    .info {
      width: 75%;
      h5 {
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 30px;
      }
      p {
        color: var(--text-color);
        margin-bottom: 50px;
        font-size: 18px;
      }
    }

    button {
      background: var(--main_color);
      border: none;
      border-radius: 10px;
      padding: 10px 30px;
      color: #fff;
      font-size: 18px;
    }
  }
  .img {
    width: 30%;
    img {
      width: 100%;
      -webkit-box-reflect: below 10px
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
  }
}

.whythis {
  margin-top: 80px;

  .title {
    text-align: center;
    h5 {
      font-size: 20px;
      font-family: "Rubik Gemstones", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    p {
      color: var(--text-color);
    }
  }

  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 60px;
    .card {
      width: 30%;
      text-align: center;
      .icon i {
        margin-bottom: 30px;
        border: 2px solid var(--main_color);
        width: 65px;
        height: 65px;
        line-height: 2.2;
        font-size: 30px;
        color: var(--main_color);
        border-radius: 50%;
      }
      .card-Body {
        margin-bottom: 20px;
        h5 {
          margin-bottom: 30px;
          font-weight: bold;
          font-size: 20px;
        }
        p {
          color: var(--text-color);
        }
      }
    }
  }
}
.borderTitle {
  width: 15%;
  border: 2px solid var(--main_color);
  margin: 15px auto;
}

.conact_Us {
  .title {
    text-align: center;
    margin: 40px 0;
    h5 {
      font-size: 22px;
    }
    p {
      color: var(--text-color);
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .right {
      width: 50%;
      input {
        display: block;
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
        padding: 10px;
        border: none;
        font-size: 16px;
        color: var(--text-color);
        border-bottom: 1px solid #ddd;

        &:focus {
          outline: none;
        }
      }
    }
    .left {
      width: 40%;
      margin-left: 10%;
      textarea {
        display: block;
        width: 100%;
        height: 100;
        padding: 10px;
        border: none;
        font-size: 16px;
        color: var(--text-color);
        border-bottom: 1px solid #ddd;

        &:focus {
          outline: none;
        }
      }
    }
  }

  margin-bottom: 100px;
  margin-top: 100px;
}
