* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
.socilmediaSEC {
  box-shadow: 0 0 5px 0px gray;
  padding: 10px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
      width: 40%;
      h5 {
        font-size: 30px;
        font-weight: bold;
      }
      p {
        color: rgb(179, 179, 179);
        font-size: 18px;
      }
    }
    .icons {
      width: 60%;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li i {
          color: #e7e7e7;
          font-size: 40px;
        }
      }
    }
  }
}

.heroSection {
  margin-top: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .right {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .block {
      .crd {
        background: #222;
        color: #fff;
        margin-bottom: 1px;
        height: 100px;
        width: 100px;
        line-height: 6;
        text-align: center;
      }
      .orange {
        background-color: #ff8800 !important;
      }
    }
    .info {
      width: 75%;
      h5 {
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 30px;
      }
      p {
        color: lightslategray;
        margin-bottom: 50px;
        font-size: 18px;
      }
    }

    button {
      background: #ff8800;
      border: none;
      border-radius: 10px;
      padding: 10px 30px;
      color: #fff;
      font-size: 18px;
    }
  }
  .img {
    width: 30%;
    img {
      width: 100%;
      -webkit-box-reflect: below 10px
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
  }
}

.whythis {
  margin-top: 80px;

  .title {
    text-align: center;
    h5{
        font-size: 20px;
        margin-bottom: 10px;
    }
  }
}
